@font-face {
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/polar.otf");
  font-family: 'Polar';
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  background-image: url("../imagenes/background.png");
}
.top {
  margin: 0%;
}


svg {
  display: block;
  overflow: visible;
}

.slider-container {
  position: relative;
  height: 91.5%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: all-scroll;
}

.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;
}
.slider-control.inactive:hover {
  cursor: auto;
}
.slider-control:not(.inactive):hover {
  opacity: 1;
  cursor: pointer;
}
.slider-control.left {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}
.slider-control.right {
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}

.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 2rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
}
.slider-pagi__elem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}
.slider-pagi__elem:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 50%;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.slider {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider.animating {
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}
.slider.animating .slide__bg {
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (min-width: 991px) {
  .slide__text {
    margin-left: -90px;
  } 
}
.slide.active .slide__overlay,
.slide.active .slide__text {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.slide__bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform;
}
.slide:nth-child(1) {
  left: 0;
}
.slide:nth-child(1) .slide__bg {
  left: 0;
  background-image: url("../imagenes/slide/slide1.jpg");
}
@media (max-width: 991px) {
  .slide:nth-child(1) .slide__bg {
    background-size: 100%;
  }
}
@media (max-width: 991px) {
  .slide:nth-child(2) .slide__bg {
    background-size: 100%;
  }
}
@media (max-width: 991px) {
  .slide:nth-child(3) .slide__bg {
    background-size: 100%;
  }
}
@media (max-width: 991px) {
  .slide:nth-child(4) .slide__bg {
    background-size: 100%;
  }
}
.slide:nth-child(1) .slide__overlay-path {
  fill: #051526;
}
@media (max-width: 991px) {
  .slide:nth-child(1) .slide__text {
    background-color: rgba(233, 156, 126, 0.8);
  }
}
.slide:nth-child(2) {
  left: 100%;
}
.slide:nth-child(2) .slide__bg {
  left: -50%;
  background-image: url("../imagenes/slide/slide3.png");
}
.slide:nth-child(2) .slide__overlay-path {
  fill: #243f5d;
}
@media (max-width: 991px) {
  .slide:nth-child(2) .slide__text {
    background-color: rgba(225, 204, 174, 0.8);
  }
}
.slide:nth-child(3) {
  left: 200%;
}
.slide:nth-child(3) .slide__bg {
  left: -100%;
  background-image: url("../imagenes/slide/slide2.jpg");
}
.slide:nth-child(3) .slide__overlay-path {
  fill: #282542;
}
@media (max-width: 991px) {
  .slide:nth-child(3) .slide__text {
    background-color: rgba(173, 197, 205, 0.8);
  }
}
.slide:nth-child(4) {
  left: 300%;
}
.slide:nth-child(4) .slide__bg {
  left: -150%;
  background-image: url("../imagenes/slide/slide4.jpg");
}
.slide:nth-child(4) .slide__overlay-path {
  fill: #282542;
}
@media (max-width: 991px) {
  .slide:nth-child(4) .slide__text {
    background-color: rgba(203, 198, 195, 0.8);
  }
}
.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 810px;
  transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  will-change: transform, opacity;
  -webkit-transform: translate3d(-20%, 0, 0);
          transform: translate3d(-20%, 0, 0);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__overlay {
    display: none;
  }
}
.slide__overlay path {
  opacity: 0.8;
}
.slide__text {
  position: absolute;
  width: 25%;
  bottom: 15%;
  left: 12%;
  color: #fff;
  transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  will-change: transform, opacity;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__text {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20rem;
    text-align: center;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    padding: 0 1rem;
  }
}
.slide__text-heading {
  font-size: 4rem;
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .slide__text-heading {
    line-height: 20rem;
    font-size: 3.5rem;
  }
}
.slide__text-desc {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
  .slide__text-desc {
    display: none;
  }
}
.slide__text-link {
  z-index: 5;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2.3rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
@media (max-width: 991px) {
  .slide__text-link {
    display: none;
  }
}
.slide__text-link:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotateX(-85deg);
          transform: rotateX(-85deg);
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  will-change: transform;
}
.slide__text-link:hover:before {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.acheere{
  margin-bottom: 2.5%;
  margin-top:2.5%;
  color: black;
}
.ContenidoAlbum{
  font-size: 14px;
}

.titulo{
  font-size: 18px;
  line-height: 65%;
  font-weight: bold;
  text-align: center;
}
.Top{
  font-size: 13px;
}

.Contenido{
  font-size: 10px
}


.contacto{
  font-size: 40px;
  color: white;
  align-content: center;
  text-align: center;
}

.footer-bottom{
  background: #464646;
  padding: 0.2em;
}
.footer-content{
  color: white;
 margin-top: 10px;
 margin-left: 25%;
  margin-right: 25%;

}

#contacto {
margin-left: 4%; margin-right: 4%;
}





$color: white;

body {
  background: #1d1e22;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: $color;
}

#loader {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 9999;
  display: none;
  opacity: 0;
  transition: opacity 1s ease-out;
  -webkit-user-select: none;      
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 

  &.hidden {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-out;
  }

  &.visible{
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .note {
    width: 100px;
    height: 100px;
    position: relative;
    .note-child {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      font-size: 1.5em;
      -webkit-animation: noteBounceDelay 1.2s infinite ease-in-out both;
      animation: noteBounceDelay 1.2s infinite ease-in-out both;
    }

    .note2 {
      -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      transform: rotate(30deg);

      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }

    .note3 {
      -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
      transform: rotate(60deg);

      -webkit-animation-delay: -1s;
      animation-delay: -1s;
    }

    .note4 {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);

      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }

    .note5 {
      -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
      transform: rotate(120deg);

      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }

    .note6 {
      -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
      transform: rotate(150deg);

      -webkit-animation-delay: -0.7s;
      animation-delay: -0.7s;
    }

    .note7 {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);

      -webkit-animation-delay: -0.6s;
      animation-delay: -0.6s;
    }

    .note8 {
      -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
      transform: rotate(210deg);

      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
    }

    .note9 {
      -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
      transform: rotate(240deg);

      -webkit-animation-delay: -0.4s;
      animation-delay: -0.4s;
    }

    .note10 {
      -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);

      -webkit-animation-delay: -0.3s;
      animation-delay: -0.3s;
    }

    .note11 {
      -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
      transform: rotate(300deg);

      -webkit-animation-delay: -0.2s;
      animation-delay: -0.2s;
    }

    .note12 {
      -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
      transform: rotate(330deg);

      -webkit-animation-delay: -0.1s;
      animation-delay: -0.1s;
    }
  }
}

@keyframes noteBounceDelay {
  0%, 80%, 100% {
    font-size: .5em;
  } 40% {
    font-size: 1.5em;
  }
}



.capasuperior {
  background: #1d1e22;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  z-index: 5;
}

#loader {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 9999;
  display: none;
  opacity: 0;
  transition: opacity 1s ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#loader.hidden {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-out;
}
#loader.visible {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loader .note {
  width: 100px;
  height: 100px;
  position: relative;
}
#loader .note .note-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5em;
  -webkit-animation: noteBounceDelay 1.2s infinite ease-in-out both;
  animation: noteBounceDelay 1.2s infinite ease-in-out both;
}
#loader .note .note2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
#loader .note .note3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
#loader .note .note4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
#loader .note .note5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
#loader .note .note6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
#loader .note .note7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
#loader .note .note8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
#loader .note .note9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
#loader .note .note10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
#loader .note .note11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
#loader .note .note12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@keyframes noteBounceDelay {
  0%, 80%, 100% {
    font-size: .5em;
  }
  40% {
    font-size: 1.5em;
  }
}
